<% element_id = "#{entry.class.to_s}_#{entry.id.to_s}_status".downcase.parameterize %>
<div class="entry">
  <form target="#">
    <label for="<%= element_id %>"><%= entry.name %></label>
    <textarea id="<%= element_id %>" cols="32" rows="8" ><%=  entry.status %></textarea>
    <img class="spinner" src="<%= image_path("spinner.gif") %>" alt="busy">
    <div class="result">Saved</div>
    <img class="save_button" src="<%= image_path("save_button.png") %>" alt="save">
  </form>
</div>